<app-header />
<main>
    <ul id="users">
        @for (user of users; track user.id) { <!-- its like map function and track is something like "key" in map function -->
            <li>
                <app-user [user]="user" (select)="onSelectUser($event)" /> <!-- Similar to calling component and passing values with props -->
            </li>
        }
    </ul>
    @if (selectedUser) {
        <app-tasks [name]="selectedUser.name" />
    } @else {
        <p id="fallback">Select a user to see their tasks!</p>
    }
</main>